#count {
    font-weight: bold;
    margin-left: auto;
  }
  
  #button-container {
    display: flex;
    justify-content: space-between; /* This distributes space between the button and counter */
    align-items: center;
    width: 100%; 
  }
  
  #logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/holberton-logo.jpg');
    background-size: cover;
  }
  