#count {
    font-weight: bold;
    margin-left: 10px; 
  }
  
  #button-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Add some space between the button and the counter */
  }
  
  #logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/holberton-logo.jpg');
    background-size: cover;
  }
  